/*EDIT TUAN----------------------------------------------------*/
body {
  font-size: 14px !important;
  font-weight: 500;
}
* a {
  color:#996966 !important;
  text-decoration: none;
}
* a:hover,
* a.active {
  color:#b6b6b6 !important;
  text-decoration: none !important;
}
h1, h2, h3, h4, h5 {
  font-weight:600 !important;
  color:#000 !important;
}
.mb-30 {
  margin-bottom:30px;
  }
ul {
  padding:0;
}
ul li {
  list-style: none;
  padding: 0;
}
#footer {
  clear: both;
  }
.header-main {
  height:100px;
}

.header-main .menu button {
  display: none;
}
ul.navbar-nav {
  float:right;
  padding: 0;
}
ul.navbar-nav li {
  list-style: none;
}

ul.navbar-nav li a {
  line-height: 100px;
  padding:0 20px;
  font-weight:500;
  transition: 0.3s;
  font-size: 15px;
}

ul.navbar-nav li a:hover,
ul.navbar-nav li a:hover span {
  background: transparent;
  color:#b6b6b6;
  transition: 0.3s;
}


ul.navbar-nav li a.active span{
  border-bottom:1px solid #272727;
}

.bg_black {
  background: #f2f2f2;
}

.pd-60 {
  padding:60px 0;
}

.banner-main #myCarousel img {
	width:100%;
	height:auto;
}

#our_service img {
  width:100%;
  height: 100%;
  transition:filter .6s, opacity .6s, transform .6s, box-shadow .3s;

}

#our_service img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}


.new_list img {
  max-width: 100%;
}

.new_list h4 {
  margin-top:0;
}

.new_list .new_row {
  padding-bottom:20px;
}

.gallery_list img {
  width:100%;
  height:100%;
}

.gallery_list .col-md-4 {
  height:100px;
  overflow: hidden;
  margin-bottom:20px;
}




.modal {
  z-index:1;
  display:none;
  padding-top:10px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8)
}

.modal-content{
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:30%;
  background-color: transparent !important;
}


.modal-hover-opacity {
  opacity:1;
  filter:alpha(opacity=100);
  -webkit-backface-visibility:hidden
}

.modal-hover-opacity:hover {
  opacity:0.60;
  filter:alpha(opacity=60);
  -webkit-backface-visibility:hidden
}


.close {
  text-decoration:none;
  float:right;
  font-size:24px;
  font-weight:bold;
  color:white !important;
  opacity: 1 !important;
}

.modal-content, #caption {

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}





.cis-cont {
    position: relative;
    padding-left: 65px;
}

.cis-icon {
    position: absolute;
    top: 10px;
    left: 0;
    color: #7e8082;
    font-size: 35px;
}

.cis-text {
    padding: 16px 0 18px 27px;
    border-left: 1px solid #dedede;
}

.cis-text h3 {
    color: #4b4e53;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}
.cis-text p {
    margin: 0;
    font-size: 12px;
}

.cis-text a:hover {
	color:#000 !important;
}

#project .list_box .box-img {
  width:100%;
  height: 160px;
  overflow: hidden;
}
#project .list_box .box-img img {
  transition:filter .6s, opacity .6s, transform .6s, box-shadow .3s;
  width:100%;
  height: auto;
}

#project .list_box .box-img img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

#our_service .img_ser {
  width: 100%;
  height:175px;
  overflow: hidden;
  border-radius: 15px;
}

#footer .container-fluid {
  padding:30px;
  font-weight: 600;
}

#footer .container-fluid p {
  margin: auto;
}
.footer_contact {
  padding-bottom: 30px;
}
.main_not_front {
  margin-top:40px;
  margin-bottom: 40px;
}
.menu_list h4{
  padding-bottom:4px;
  border-bottom:1px solid #000;
  margin-bottom: 20px
}

.left_menu ul li {
  line-height: 25px;
  position: relative;
  display: block;
}

.left_menu > ul > li.open ul {
  position: relative;
  border-radius:0;
  border: 0;
  box-shadow: none;
  padding: 0;
  width:100%;
  float:none;
}

.left_menu > ul > li > a {
  font-weight:600;
}
.left_menu > ul > li:after {
  position: absolute;
  display: block;
  content:'';
  background: url('../images/icon_up.png') no-repeat;
  top:0;
  right:0;
  width:20px;
  height:11px;
}

.left_menu > ul > li.open:after {
  position: absolute;
  display: block;
  content:'';
  background: url('../images/icon_down.png') no-repeat;
  top:0;
  right:0;
  width:20px;
  height:11px;
}


.dropdown-menu > li > a {
  padding-left:0 !important;
  line-height: 25px !important;
  white-space: inherit !important;
}

/*CONTACT----------------------------------------------*/
.contact {
  padding-left: 30px !important;
}

.google_map {
  margin-top:30px;
}

.btn-primary {
  background-color: #7e505f !important;
  transition: all .3s ease-in-out;
  border-radius: 0 !important;
  border: none !important;
  padding:10px 35px !important;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #b6b6b6 !important;
}

.contact h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.contact h4 {
  color: #7e505f !important;
}

/*END CONTACT----------------------------------------------------------*/

/*HUMAN DETAIL------------------------------------------------------------*/
.human_detail img {
  max-width: 100%;
  height: auto;
  }
/*END HUMAN DETAIL---------------------------------------------------------*/

/*HUMAN LIST-------------------------------------------------------------*/
.human_event img {
  width:100%;
  height:100%;
  transition: .2s ease;

}

.human_event > .row > div {
  padding-bottom: 20px;
}

.human_event img:hover {
  opacity: 0.7;
}

.human_event .img a:hover .box-title {
  background-color:rgba(0, 0, 0, 0.5);
}

.human_event .img {
  width:100%;
  overflow: hidden;
  position: relative;
  height: 170px;
}

.human_event .box-img {
  width:100%;
  height: 100%;
}


.human_event .box-title {
  width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color:#fff;
}
.human_event .box-title h5 {
  color: #fff !important;
}

/*END HUMAN LIST---------------------------------------------------------*/

/*EDIT HUY----------------------------------------------------------------*/
#details p {
  text-align: justify;
}
#details .caption p {
  text-align: center;
  font-style: italic;
}
#project .box-text p {
  text-align: justify;
}
#project .box-text h4 {
  text-align: center;
}

/* START CUONG */
/* Start Event List */
.event img {
  width:100%;
  height:100%;
  transition: .2s ease;

}

.event > .row > div {
  padding-bottom: 20px;
}

.event img:hover {
  opacity: 0.7;
}



.event .img {
  width:100%;
  overflow: hidden;
  position: relative;
  height: 170px;
}

.event .box-img {
  width:100%;
  height: 100%;
}


.event .box-title {
  position: absolute;
  width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  color:#fff;
}
.event .box-title h5 {
  color: #fff !important;
  text-transform: uppercase;
}
/* End Event List */

/* Start pagination */
.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination li a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination li a:hover:not(.active) {background-color: #ddd;}
/* End pagination */

/* Start Event Details */
.event_detail p {
  text-indent: 20px;
  text-align: justify;

}

.event_detail img {
  max-width: 100%;
  height: auto;
  }

.event_detail ol {
  list-style-type: decimal;
}

.event_detail ol li {

}

.event_detail ol li ul {
  list-style-type: circle;
}

/* End Event Details */

/* Start About Us */
.about_us_detail p {
  text-indent: 20px;
  text-align: justify;

}

.about_us_detail img {
  max-width: 100%;
  height: 100%;
  }

.about_us_detail ol {
  list-style-type: decimal;
}

.about_us_detail ol li {

}

.about_us_detail ol li ul {
  list-style-type: circle;
}

/* End About Us  Details */



@media (max-width:768px) {
  .header-main .menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 33;
    padding: 0;
    width: 75%;
  }
  .header-main .menu button {
    display: block;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 99;
  }
  ul.navbar-nav {
    background: #000;
    margin-top: 0;
    padding-top:60px;
    width: 100%;
  }
  ul.navbar-nav li a {
    color:#fff !important;
    line-height:50px;
  }
  ul.navbar-nav li a.active {
  	display:block;
  	background:#868686 !important;
  	width:100%;
  }
  ul.navbar-nav li a.active span {
  	border-bottom:0;
  }
  
  ul.navbar-nav li {
    border-bottom:1px solid #fff;
  }
  .modal-content {
    padding:0;
    top:30%;
  }
  .gallery_list .col-md-4 {
    height:200px;
  }
  .contact {
    padding-left: 15px !important;
  }

}

/*END TUAN-----------------------------------------------------*/
